body, html  {
    margin: 0;
    padding: 0;
  
  }
  
  
  #main {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), 
    url(http://szzljy.com/data/27/free-comic-book-wallpaper/free-comic-book-wallpaper-3.jpg);
    font-family: helvetica, sans-serif;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 7px solid lightgrey;
  }
  
  #title {
    background: lightgrey;
    width: 100%;
    margin-bottom: 20px;
    font-family: 'Bangers', cursive;
    text-align: center;
  }
  
  #title p {
    font-size: 20px;
    letter-spacing: 2px;
  }
  
  #title h1 {
    font-size: 57px;
    letter-spacing: 1px;
  }
  
  h1 {
    font-size: 50px;
    line-height: 5px;
  }
  
  img {
    max-width: 100%;
    display: block;
    height: auto;
  }
  
  a {
    color: white;
   
  }
  
  #img-div {
    color: white;
  }
  
  #img-caption p {
    margin: 5px;
    text-align: center;
  }
  
  .credit {
    font-size: 12px;
    color: white;
  }
  
  .credit a {
    color: white;
  }
  
  .credit a:hover {
    background-color: green;
  }
  
  .credit a:visited {
    color: white;
  }
  
  .quote {
   text-align: center;
  
  }
  
  .timeline {
    background: white;
    height: auto;
  }
  
  .timeline h2 {
    padding: 25px 0px 0px 40px;
  }
  
  ul {
    padding-bottom: 10px;
  }
  
  li {
    margin: 10px;
  }
  
  #tribute-info {
    background: lightgrey;
    margin-top: 40px;
    padding: 20px;
    text-align: left;
    line-height: 120%;
  
  }
  
  footer p {
    color: white;
    padding: 10px;
  
  }
  
  .go-read a:hover {
    background-color: green;
  
  }