body, html  {
    margin: 0;
    padding: 0;
  
  }
  
  
  #main {
    background-image: linear-gradient(rgba(247, 57, 10, 0.7), rgba(226, 241, 14, 0.925)), 
    url(http://szzljy.com/data/27/free-comic-book-wallpaper/free-comic-book-wallpaper-3.jpg);
    font-family: helvetica, sans-serif;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 7px solid lightgrey;
  }
  
  #title {
    background: lightgrey;
    width: 100%;
    margin-bottom: 20px;
    font-family: 'Bangers', cursive;
    text-align: center;
  }
  
  #title p {
    font-size: 20px;
    letter-spacing: 2px;
  }
  
  #title h1 {
    font-size: 57px;
    letter-spacing: 1px;
  }
  
  h1 {
    font-size: 50px;
    line-height: 5px;
  }
  
  img {
    width: 100%;
    display: block;
    height: auto;
  }
  
  a {
    color: white;
   
  }
  
  #img-div {
    color: white;
    
  }
  
  #img-caption p {
    margin: 5px;
    text-align: center;
  }
  
  
  
   a {
    color: rgb(0, 0, 0);
  }
  
  a:hover {
    background-color: rgb(255, 254, 254);
  }
  
 a:visited {
    color:  rgba(0, 0, 0, 0.945);
  }
  
  .quote {
   text-align: center;
  
  }
  
  .timeline {
    background: white;
    height: auto;
  }
  
  .timeline h2 {
    padding: 25px 0px 0px 40px;
  }
  
  #tribute-info {
    background: lightgrey;
    margin-top: 40px;
    padding: 20px;
    text-align: left;
    line-height: 120%;
  
  }
  
  footer p {
    color: white;
    padding: 10px;
  
  }
  
  .go-read a:hover {
    background-color: green;
  
  }
  #tbl{
         margin: 40px;
         text-align: center;
         width: 400px;
         height: auto;
         float: left;
  }
  #row{
    width: max-content;
   
  }
  th{
    width: 150px;
  }
  td{
    padding: 5px;
    margin: 8px;
    line-height: 25px;
   border-bottom: 2px solid rgb(252, 106, 1);
  }
  #about{
    width: max-content;
   display: block;
   background: lightgrey;
    margin-top: 40px;
    padding: 20px;
    text-align: left;
    line-height: 120%;
    
  }
ul{
  margin-top: 60px
};
@media screen and (max-width: 400px) {
  #tbl {
     float: none;

  }
} 
@media screen and (max-width: 700px) {
  table {
     float: none;

  }
} 